/* _content/HotelReservation.Web/Views/Shared/_Layout.cshtml.rz.scp.css */
/* ComfortStay Premium Layout Styles */
/* Main styles are in wwwroot/css/site.css */

a.navbar-brand[b-s93jq86ic6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* These styles are now managed in site.css */
